img {
         max-width: 100%;
         height: auto;
         opacity: 1.0;
      }
      * {
         box-sizing: border-box;
      }
      html, body {
         margin: 0;
         padding: 0;
      }
      .row::after {
         content: "";
         display: block;
         clear: both;
      }
      div[class*="col-"] {
         float: left;
         height: 200px;
         background: lightgrey;
         border-right: 1px solid black;
         padding-right: 3px;
      }
      .col-1 { width: 50% }
      .col-2 { width: 50% }