.container {
         position: relative;
      }
      span {
         position: absolute;
         bottom: 5px;
         right: 8px;
      }
      img {
         width: 100%;
         height: auto;
         opacity: 0.1;
      }
.card {
         box-shadow: 0 15px 30px rgba(0,0,0,0.30), 0 11px 8px rgba(0,0,0,0.22);
         box-sizing: border-box;
      }
.card > p {
         font-family: sans-serif;
         padding: 0px 10px 10px 10px;
         text-align: center;
      }