.container {
         position: relative;
      }
      span {
         position: absolute;
         bottom: 5px;
         right: 8px;
      }
      img {
         width: 100%;
         height: auto;
         opacity: 0.4;
      }
.card {
         box-shadow: 0 15px 30px rgba(0,0,0,0.30), 0 11px 8px rgba(0,0,0,0.22);
         width: 250px;
         box-sizing: border-box;
         transition-duration: 1s;
      }