.container {
         position: relative;
      }
      span {
         position: absolute;
         bottom: 5px;
         right: 8px;
         padding-bottom: 45px;
         color: white;
         text-shadow: px 2px 2px #777;
      }
      img {
         width: 100%;
         height: auto;
         opacity: 1.0;
         box-shadow: 0 7px 15px rgba(0,0,0,0.15), 0 11px 8px rgba(0,0,0,0.22);
         box-sizing: border-box;
         border: 2px #d3c8c8;
         border-radius: 20px;
      }
.card {
         box-shadow: 0 15px 30px rgba(0,0,0,0.30), 0 11px 8px rgba(0,0,0,0.22);
         box-sizing: border-box;
         border: 2px #d3c8c8;
         border-radius: 20px;
         padding: 10px;
      }
.card > p {
         font-family: sans-serif;
         padding: 0px 10px 10px 10px;
         text-align: center;
      }
footer{
  padding:20px;
  margin-top:20px;
  color:#ffffff;
  background-color:#e8491d;
  text-align: center;
}
.container{
  width:80%;
  margin:auto;
  overflow:hidden;
}
ul#services li{
  list-style: none;
  padding:20px;
  border: #cccccc solid 1px;
  margin-bottom:5px;
  background:#e6e6e6;
}